

.form-container{
   
    
    width: 100%;
    background-color: rgb(232, 253, 241);
    /* background-image: url;
    background-size: cover; */
}
.form-heading{
    width: 50%;
    margin: auto;
    padding: 20px;
}
.form-heading h1{
    color: rgb(85, 128, 0);
    font-size:50px;
    font-weight: 400;
}
.form-heading p{
    color: rgb(85, 128, 0);
    font-size:24px;
    font-weight: 400;
}


.form{
 
    border-radius: 30px;
    width: 50%;
    margin: auto;
    padding:30px 60px;
    display: flex;
    justify-content: center;
    background-color: rgb(230, 178, 178);
}
.form label{
    color:  rgb(92, 12, 79);
}


