.detail{
    border: none;
    margin-top: 2%;
    font-size: larger;
    padding: 3%;
    color: rgb(224, 232, 239);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
