

*
{
 
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
   
    justify-content: flex-end;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background: #ede7f6;

}
footer{
    position: relative;
    width: 100%;
    height:auto;
    padding: 50px 100px;
    background:#111;
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}

footer .footer-container{
    display: flex;
    justify-content: space-between;
    
    flex-direction: row;
}
footer .footer-container .sec{
    margin-right: 30px;
}

footer .footer-container .sec .aboutus{
    width: 40%;
}
footer .footer-container  h2{
 position: relative;
 color: #fff;
 font-weight: 500;
 margin-bottom: 15px;
}
footer .footer-container  h2:before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background-color: #f00;
}
footer  p{
    color: #999;
}
footer ul {
    padding-left: 0;
}
.sci{
    margin-top: 20px;
    display: flex;
}
.sci li{
    list-style: none;
}
.sci li a {
 display: inline-block;
 width: 40px;
 height: 40px;
 background: #222;
 display:flex ;
 justify-content: center;
 align-items: center;
 margin-right: 10px;
 text-decoration: none;
 border-radius: 4px;
}
.sci li a:hover{
    background: #fff;
}
.sci li a .fa {
    color: #fff;
    font-size: 20px;
}
.quickLinks{
    width: 50%;
    position: relative
    
}
.quickLinks ul li{
    list-style: none;
}

.quickLinks ul li a {
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}
.quickLinks ul li a:hover{
    color: #fff;
}